<!-- Modal Change Name-->
<div
  class="modal fade"
  id="userChangeNameModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="userChangeNameModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Введите новое имя</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-error-msg"></div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="userinitchangename-input"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          id="userinitchangename-button"
        >
          Сохранить
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Change Email-->
<div
  class="modal fade"
  id="userChangeEmailModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="userChangeEmailModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Введите новый E-mail</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-error-msg"></div>
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            id="userinitchangeemail-input"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          id="userinitchangeemail-button"
        >
          Сохранить
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Change Phone Number-->
<div
  class="modal fade"
  id="userChangePhoneNumberModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="userChangePhoneNumberModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Введите новый номер телефона</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-error-msg"></div>



        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">+38</span>
            </div>
            <input 
            type="text" 
            class="form-control" 
            placeholder="0671234567   Телефон" 
            name="phonenumber" 
            id="userinitchangephonenumber-input">
          </div>
        </div>


      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          id="userinitchangephonenumber-button"
        >
          Сохранить
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Change Passsword-->
<div
  class="modal fade"
  id="userChangePasswordModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="userChangePasswordModal"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Изменение пароля</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-error-msg"></div>

        <div class="form-group">
          <label class="col-form-label" for="inputDefault">Старый пароль</label>
          <input type="password" class="form-control" placeholder="Старый пароль" id="userinitchangepasswordold-input">
        </div>

        <div class="form-group">
          <label class="col-form-label" for="inputDefault">Новый пароль</label>
          <input type="password" class="form-control" placeholder="Новый пароль" id="userinitchangepasswordnew-input">
        </div>





      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          id="userinitchangepassword-button"
        >
          Сохранить
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Отмена
        </button>
      </div>
    </div>
  </div>
</div>