<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a
      class="nav-link <%if (transData.path == '/myprofile') { %> active <% } %>"
      href="/profile/myprofile"
    >
      <span class="fas fa-user avesomePaddingRight"></span> Мой профиль</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%if (transData.path == '/myorders') { %> active <% } %>"
      href="/profile/myorders"
    >
      <span class="fas fa-shopping-cart avesomePaddingRight"></span> Мои
      заказы</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%if (transData.path == '/mywishlist') { %> active <% } %>"
      href="/profile/mywishlist"
    >
      <span class="fas fa-heart avesomePaddingRight"></span> Список желаний</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/api/auth/logout"
      ><span class="fas fa-sign-out-alt avesomePaddingRight"></span>Выход</a
    >
  </li>
</ul>
<br />
<% if(transData.user.group == 'Administrator' || transData.user.group ==
'Manager') { %>
<form action="/administrator">
  <button type="submit" class="btn btn-warning btn-block">
    <span class="fas fa-tools avesomePaddingRight"></span> Вход в панель
    управления
  </button>
</form>
<% }; %> <br />
<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Поддержка</div>
  <div class="card-body">
    <h4 class="card-title">Мы на связи!</h4>
    <p class="card-text">
      Наши менеджеры готовы проконсультировать и помочь Вам с выбором и
      оформлением заказа! Звоните сейчас: +3800000000
    </p>
  </div>
</div>
