<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>
  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <br />
          <% include lay_myprofile_sidebar_left.ejs %>
        </div>

        <div class="col-lg-8">
          <!-- MAIN CONTENT HERE: -->

          <br />
          <H1>Моя корзина</H1>

          <br />

          <br />

          <!-- /MAIN CONTENT HERE: -->
        </div>
      </div>
    </div>
    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
