<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>
  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <br />
          <% include lay_myprofile_sidebar_left.ejs %>
        </div>

        <div class="col-lg-8">
          <!-- MAIN CONTENT HERE: -->

          <br />
          <H1>Мои заказы</H1>

          <div class="card border-primary mb-3">
            <div class="card-header">Заказ № 555</div>
            <div class="card-body">
              <h6>Кастрюля "Бохман" мраморное покрытие 2,2л. BH-2620 20см</h6>
              <div class="row">
                <div class="col-lg-4">Цена: 345 грн</div>
                <div class="col-lg-4">Количество: 1 шт</div>
                <div class="col-lg-4">Сумма: 345 грн</div>
              </div>
              <hr />
              <h6>Кастрюля "Бохман" мраморное покрытие 2,2л. BH-2620 20см</h6>
              <div class="row">
                <div class="col-lg-4">Цена: 345 грн</div>
                <div class="col-lg-4">Количество: 1 шт</div>
                <div class="col-lg-4">Сумма: 345 грн</div>
              </div>

              <hr />
              <div class="row">
                <div class="col-lg-8"></div>
                <div class="col-lg-4">ИТОГО: 345 грн</div>
              </div>
            </div>
          </div>
          <br />
          <div class="card border-primary mb-3">
            <div class="card-header">Заказ № 555</div>
            <div class="card-body">
              <h6>Кастрюля "Бохман" мраморное покрытие 2,2л. BH-2620 20см</h6>
              <div class="row">
                <div class="col-lg-4">Цена: 345 грн</div>
                <div class="col-lg-4">Количество: 1 шт</div>
                <div class="col-lg-4">Сумма: 345 грн</div>
              </div>
              <hr />
              <h6>Кастрюля "Бохман" мраморное покрытие 2,2л. BH-2620 20см</h6>
              <div class="row">
                <div class="col-lg-4">Цена: 345 грн</div>
                <div class="col-lg-4">Количество: 1 шт</div>
                <div class="col-lg-4">Сумма: 345 грн</div>
              </div>
              <hr />
            </div>
          </div>
          <br />

          <!-- /MAIN CONTENT HERE: -->
        </div>
      </div>
    </div>
    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
