<% include layout/administrator_header.ejs %>

<div class="container">
  <h1>
    <span class="fas fa-exclamation-triangle avesomePaddingRight"></span>Ошибка
  </h1>
  <h2><%= message %></h2>
  <h3><%= error.status %></h3>
  <pre><%= error.stack %></pre>
</div>
<% include layout/footer.ejs %>
