<!DOCTYPE html>

<html lang="en">
  <% include layout/lay_site_1_head.ejs %>
  <body>
    <% include layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <br />
          <% include layout/lay_site_3_sidebar.ejs %>
        </div>

        <div class="col-lg-8">
          <!-- MAIN CONTENT HERE: -->

          <h1>
            <span class="fas fa-exclamation-triangle avesomePaddingRight"></span
            >Ошибка
          </h1>
          <h2><%= message %></h2>
          <h3><%= error.status %></h3>
          <pre><%= error.stack %></pre>

          <!-- /MAIN CONTENT HERE: -->
        </div>
      </div>
      <!-- Footer -->
      <% include layout/lay_site_5_footer.ejs %>
      <!-- Footer -->
    </div>
    <!-- /CONTAINER: -->

    <% include layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
