<% include layout/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <br />
      <% include layout/shop_sidebar_right.ejs %>
    </div>

    <div class="col-lg-8">
      <br />
      <H1>Главная</H1>

      <br />

      <br />
    </div>
  </div>
</div>
<% include layout/footer.ejs %>
