<% include layout/header.ejs %>

<h1>K8</h1>

<i class="fas fa-igloo">22</i>
<!-- this icon's 1) style prefix == fas and 2) icon name == igloo -->
<i class="fas fa-igloo">33</i>
<!-- using an <i> element to reference the icon -->
<span class="fas fa-igloo">111</span>

<!-- HTML to write -->
<br />
