<% include layout/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <br />
      <% include layout/profil_sidebar_left.ejs %>
    </div>

    <div class="col-lg-9">
      <H1>Моя корзина</H1>
      <br />
    </div>
  </div>
</div>

<% include layout/footer.ejs %>
