<% include layout/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <br />
      <% include layout/profil_sidebar_left.ejs %>
    </div>

    <div class="col-lg-8">
      <br />
      <H1>Мой профиль</H1>

      <table class="table table-hover">
        <tbody>
          <tr>
            <th scope="row">Логин</th>
            <td><%= user.login %></td>
          </tr>

          <tr>
            <th scope="row">Имя</th>
            <td>Вася пупкин</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm">
                <span class="fas fa-edit avesomePaddingRight"></span>Изменить
              </button>
            </td>
          </tr>

          <tr>
            <th scope="row">E-mail</th>
            <td>kdsdf@fdfg.sdf</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm">
                <span class="fas fa-edit avesomePaddingRight"></span>Изменить
              </button>
            </td>
          </tr>
          <tr>
            <th scope="row">Номер телефона</th>
            <td>+380673267467</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm">
                <span class="fas fa-edit avesomePaddingRight"></span>Изменить
              </button>
            </td>
          </tr>

          <tr>
            <th scope="row">Пароль</th>
            <td>...</td>
            <td>
              <button type="button" class="btn btn-primary btn-sm">
                <span class="fas fa-edit avesomePaddingRight"></span>Изменить
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <br />

      <br />
    </div>
  </div>
</div>

<% include layout/footer.ejs %>
