<!DOCTYPE html>

<html lang="en">
  <% include ../layout/lay_site_1_head.ejs %>

  <body>
    <% include ../layout/lay_site_2_navigation.ejs %>

    <!-- CONTAINER: -->
    <div class="container">
      <br />

      <h1>Форум</h1>
      <br />
      <table class="gTable" width="100%" cellspacing="1" cellpadding="0" border="0">
        <tbody><tr>
          <td class="gTableTop">
            <div style="float:right" class="gTopCornerRight"></div>
            Обговорення мінітрактора Донг Фенг 244
            </td></tr><tr id="post86"><td class="postFirst"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Вася[/b],');return false;">Вася</a></td><td class="postTdTop">Дата: Понедельник, 25.06.2012, 17:31 | Сообщение # <a rel="nofollow" name="86" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-86-16-1340631102'); return false;">1</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-86" edit-url="">Хочемо придбати мінітрактор для батька у село. Зупинилися на моделі мінітрактора Донг Фенг 244 (Dong Feng 244). <br> А як ви думаєте, чи варто його купувати? Може все-таки купувати Джинма 244?</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post88"><td class="postRest2"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Микола[/b],');return false;">Микола</a></td><td class="postTdTop">Дата: Вторник, 26.06.2012, 16:01 | Сообщение # <a rel="nofollow" name="88" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-88-16-1340712064'); return false;">2</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-88" edit-url="">Однозначно - варто купувати Донг Фенг! Як на мене це найкраща модель міні трактора серед китайців. Конструкція проста та надійна. Служать Донг Фенги прекрасно!</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post92"><td class="postRest1"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Kalynka[/b],');return false;">Kalynka</a></td><td class="postTdTop">Дата: Вторник, 26.06.2012, 23:12 | Сообщение # <a rel="nofollow" name="92" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-92-16-1340737945'); return false;">3</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-92" edit-url="">А як ви думаете, Донг Фенг потягне роторну косарку 1,35? Чи вона важка для нього буде?</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post96"><td class="postRest2"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Андрій[/b],');return false;">Андрій</a></td><td class="postTdTop">Дата: Четверг, 28.06.2012, 01:06 | Сообщение # <a rel="nofollow" name="96" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-96-16-1340831170'); return false;">4</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-96" edit-url="">Звичайно потягне! Вона для нього в самий раз!!!</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post148"><td class="postRest1"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Толик[/b],');return false;">Толик</a></td><td class="postTdTop">Дата: Пятница, 28.09.2012, 14:46 | Сообщение # <a rel="nofollow" name="148" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-148-16-1348829217'); return false;">5</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-148" edit-url="">очень плохое сиденье-раз, нету кабины-два, масло гидравлики берется с трансмиссии-три, Это основные недостатки, а вообщем трактор нормальный</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post154"><td class="postRest2"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Гость[/b],');return false;">Гость</a></td><td class="postTdTop">Дата: Воскресенье, 07.10.2012, 16:17 | Сообщение # <a rel="nofollow" name="154" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-154-16-1349612264'); return false;">6</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-154" edit-url="">4 роки посиленої експлуатаціїї,політ нормальний</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post162"><td class="postRest1"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Гость[/b],');return false;">Гость</a></td><td class="postTdTop">Дата: Пятница, 26.10.2012, 16:30 | Сообщение # <a rel="nofollow" name="162" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-162-16-1351254611'); return false;">7</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-162" edit-url="">В мене Джинма 2 роки: Постійно тріскають пласмасові сальники на гідравліці. А на рахунок окремої гідравліки то підєднав причіп і коли масло з трактора перетекло в циліндр причепа то чуть насос нш не спалив. Зараз б напевно взяв Донг Фенга.</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post197"><td class="postRest2"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Павло[/b],');return false;">Павло</a></td><td class="postTdTop">Дата: Четверг, 13.12.2012, 01:33 | Сообщение # <a rel="nofollow" name="197" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-197-16-1355347981'); return false;">8</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-197" edit-url="">я коли купував теж дуже вагався між Джинма та Донг Фенг. Вибрав Донг Фенг и нітрохи не шкодую.</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post200"><td class="postRest1"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Ваня Тимчк[/b],');return false;">Ваня Тимчк</a></td><td class="postTdTop">Дата: Четверг, 13.12.2012, 20:49 | Сообщение # <a rel="nofollow" name="200" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-200-16-1355417392'); return false;">9</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-200" edit-url="">ДонгФенг 244 або ДТЗ 240.4 вагаюсь між ними <img src="http://s64.ucoz.net/sm/1/dry.gif" alt="dry" border="0" align="absmiddle"><p><b>Добавлено</b> (13.12.2012, 20:49)<br>---------------------------------------------<br>ДонгФенг 244 або ДТЗ 244.4 вагаюсь між ними <img src="http://s64.ucoz.net/sm/1/dry.gif" alt="dry" border="0" align="absmiddle">
    
    
    </p></span></td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post208"><td class="postRest2"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Танталь[/b],');return false;">Танталь</a></td><td class="postTdTop">Дата: Среда, 19.12.2012, 17:13 | Сообщение # <a rel="nofollow" name="208" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-208-16-1355922799'); return false;">10</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-208" edit-url="">Бери Донг Фенг однозначно.</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post238"><td class="postRest1"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Гость[/b],');return false;">Гость</a></td><td class="postTdTop">Дата: Вторник, 08.01.2013, 20:51 | Сообщение # <a rel="nofollow" name="238" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-238-16-1357663868'); return false;">11</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-238" edit-url="">ЯК ПРАВИЛЬНО РЕГУЛЮВАТИ КЛАПАНА?</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post240"><td class="postRest2"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Гость[/b],');return false;">Гость</a></td><td class="postTdTop">Дата: Среда, 09.01.2013, 13:06 | Сообщение # <a rel="nofollow" name="240" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-240-16-1357722382'); return false;">12</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-240" edit-url="">Один датчик на панелі приладів не підключений для чого він?<p><b>Добавлено</b> (09.01.2013, 13:06)<br>---------------------------------------------<br>для чого один датчик на пателі приладів з лівого боку
    
    
    </p></span></td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post255"><td class="postRest1"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]Гость[/b],');return false;">Гость</a></td><td class="postTdTop">Дата: Четверг, 31.01.2013, 14:28 | Сообщение # <a rel="nofollow" name="255" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-255-16-1359628086'); return false;">13</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName"></div>
    
    <div class="postRankIco"></div>
    <div class="postUserGroup">Группа: Гости</div>
    
    
    
    
    
    
    <br><br><br><br><br>
    </td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-255" edit-url="">у меня донг фенг 254 уже пять лет работает каждий день как у колхозе с утра до ночи и никаких нареканий</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td></td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post465"><td class="postRest2"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]genych86[/b],');return false;">genych86</a></td><td class="postTdTop">Дата: Четверг, 05.03.2015, 16:55 | Сообщение # <a rel="nofollow" name="465" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-465-16-1425563709'); return false;">14</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <div class="postRankName">Рядовой</div>
    
    <div class="postRankIco"><img alt="" name="rankimg" src="/.s/rnk/1/rank1.gif" title="Ранг 1" border="0" align="absmiddle"></div>
    <div class="postUserGroup">Группа: Пользователи</div>
    
    <div class="numposts">Сообщений: <span="unp">1</span="unp"></div>
    
    <div class="reputation">Репутация: <a title="Смотреть историю репутации" class="repHistory" href="javascript://" rel="nofollow" onclick="new _uWnd('Rh',' ',400,250,{autosize:1,closeonesc:1,maxh:300,minh:100},{url:'/index/9-43'});return false;"><b>0</b></a> 
    
    <div class="statusBlock">Статус: <span class="statusOffline">Offline</span></div>
     
    </div></td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-465" edit-url="">Підскажіть яким сідінням краще замінити "деревяне" заводське? Може хто міняв чи знає, ну шоб теж було не велике, але помягше і спинка по краща. <br> На цьму в дорозі за день можна і почки лишити))</span>
    
    
    </td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td><a href="javascript://" rel="nofollow" onclick="window.open('/index/8-43', 'up43', 'scrollbars=1,top=0,left=0,resizable=1,width=700,height=375'); return false;"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_profile.gif" title="Профиль пользователя"></a>    </td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr><tr><td class="postSeparator"><div id="nativeroll_video_cont" style="display:none;"></div>
        <script>
          window.adb_site_type = 'ucoz';
          window.adb_showcrit = 0 ;
          window.adb_abandoned = 1 ;
          //window.ucoz_site_type = 'ucoz' ;
          window.adb_site_cat = '3' ;
        </script>
        <script id="crt_adb_place" type="text/javascript" src="/.s/src/crit_image.js?v=5" async=""></script>
      </td></tr><tr id="post476"><td class="postRest1"><table class="postTable" width="100%" cellspacing="1" cellpadding="2" border="0">
    <tbody><tr><td class="postTdTop" width="23%" align="center"><a class="postUser" href="javascript://" rel="nofollow" onclick="emoticon('[b]grem[/b],');return false;">grem</a></td><td class="postTdTop">Дата: Понедельник, 24.04.2017, 14:47 | Сообщение # <a rel="nofollow" name="476" class="postNumberLink" href="javascript:;" onclick="prompt('Прямая ссылка к сообщению', 'https://dreamagro.at.ua/forum/2-33-476-16-1493034444'); return false;">15</a></td></tr>
    <tr><td class="postTdInfo" valign="top">
    <img alt="" title="grem" class="userAvatar" src="https://749054914.uid.me/avatar.gif" border="0"><div class="postRankName">Рядовой</div>
    
    <div class="postRankIco"><img alt="" name="rankimg" src="/.s/rnk/1/rank1.gif" title="Ранг 1" border="0" align="absmiddle"></div>
    <div class="postUserGroup">Группа: Пользователи</div>
    
    <div class="numposts">Сообщений: <span="unp">5</span="unp"></div>
    
    <div class="reputation">Репутация: <a title="Смотреть историю репутации" class="repHistory" href="javascript://" rel="nofollow" onclick="new _uWnd('Rh',' ',400,250,{autosize:1,closeonesc:1,maxh:300,minh:100},{url:'/index/9-58'});return false;"><b>0</b></a> 
    
    <div class="statusBlock">Статус: <span class="statusOffline">Offline</span></div>
     
    </div></td><td class="posttdMessage" style="word-wrap: break-word;" valign="top"><span class="ucoz-forum-post" id="ucoz-forum-post-476" edit-url=""><span style="color:#ff0000"><span style="font-size:20pt;">++++ ВНИМАНИЕ! ВНИМАНИЕ! ВНИМАНИЕ! +++++</span></span><br><br><span style="font-size:14pt;">ВАМ НУЖЕН АНОНИМНЫЙ ВЗЛОМ ПОЧТЫ?<br>ВЫ ХОТИТЕ ЧТОБЫ ХОЗЯИН ПОЧТЫ НИ О ЧЕМ НЕ УЗНАЛ?<br>ВАМ НУЖНЫ КАЧЕСТВЕННЫЕ ДОКАЗАТЕЛЬСТВА ВЗЛОМА ПОЧТЫ?<br>ВЫ СОМНЕВАЕТЕСЬ ЗАКАЗЫВАТЬ У КОГО ТО?</span><br><br><span style="color:#ff7700"><span style="font-size:19pt;">МЫ ВАМ ПОМОЖЕМ!</span></span><br><span style="font-size:14pt;"><b>ЧТО МЫ ПРЕДЛАГАЕМ:</b></span><br><br><span style="font-size:15pt;"><li><b><span style="color:#3c78d8">ВЗЛОМ ПОЧТЫ БЕЗ ПРЕДОПЛАТЫ, ОПЛАТА ТОЛЬКО ПО ФАКТУ</span></b><br></li><li><br></li><li>&nbsp;<b><span style="color:#3c78d8">ВЗЛОМ ПОЧТЫ БЕЗ ИЗМЕНЕНИЯ ПАРОЛЯ, ЖЕРТВА НИЧЕГО НЕ УЗНАЕТ</span></b><br></li><li><br></li><li>&nbsp;<b><span style="color:#3c78d8">МЫ ПРЕДОСТАВИМ ЛЮБЫЕ ДОКАЗАТЕЛЬСТВА КАКИЕ ПОПРОСИТЕ</span></b><br></li><li><br></li><li>&nbsp;<b><span style="color:#3c78d8">МЫ ЛОМАЕМ АНОНИМНО, НИ КАКИХ ВАШИХ ДАННЫХ НЕ НУЖНО</span></b><br></li><li><br></li><li>&nbsp;<b><span style="color:#3c78d8">МЫ БЕРЕМСЯ ЗА РАБОТУ СРАЗУ КАК ТОЛЬКО ПОЛУЧАЕМ ЗАКАЗ, НЕ НУЖНО ЖДАТЬ ПОДТВЕРЖДЕНИЯ</span></b><br></li><li><br></li><li>&nbsp;<b><span style="color:#3c78d8">ОПЛАТИТЬ МОЖНО НЕ ИМЕЯ КОШЕЛЬКА \СЧЕТА</span></b><br></li><li><br></li><li><span style="color:#3c78d8"><b><u>КОНСУЛЬТИРОВАНИЕ СВОИХ КЛИЕНТОВ ПОСЛЕ ВЫПОЛНЕННОГО ЗАКАЗА</u></b></span><br></li><li><br></li><li><span style="color:#3c78d8"><b><u>ПОМОГАЮ С БЕЗОПАСНОСТЬЮ ПРИ ПРОСМОТРЕ ЧУЖИХ ПОЧТОВЫХ ЯЩИКОВ</u></b></span><br><span style="font-size:17pt;"><br><!--uzcode--><div class="bbCodeBlock"><div class="bbCodeName" style="padding-left:5px;font-weight:bold;font-size:7pt">Код</div><div class="codeMessage" style="border:1px inset;max-height:200px;overflow:auto;"><!--uzc-->Mail.ru<br>Yandex.ru<br>Rambler.ru<br>Gmail.com<br>Корпоративные почтовые ящики тоже ломаем.<!--/uzc--></div></div><!--/uzcode--><br><br><span style="color:#e06666">НАШИ КОНТАКТЫ<br>САЙТ: WWW.POCHTY.COM<br>ICQ: 318-319</span></span><br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=<br>=
    
    
    </li></span></span></td></tr>
    <tr><td class="postBottom" align="center">&nbsp;</td><td class="postBottom">
    <table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tbody><tr><td><a href="javascript://" rel="nofollow" onclick="window.open('/index/8-58', 'up58', 'scrollbars=1,top=0,left=0,resizable=1,width=700,height=375'); return false;"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_profile.gif" title="Профиль пользователя"></a>    </td><td style="padding-right:15px;" align="right">   </td><td width="2%" nowrap="" align="right"><a class="goOnTop" href="javascript:scroll(0,0);"><img alt="" style="margin:0;padding:0;border:0;" src="/images/forum/template/p_up.gif" title="Вверх"></a></td></tr>
    </tbody></table></td></tr></tbody></table></td></tr></tbody></table>

      <br />
      <!-- Footer -->
      <% include ../layout/lay_site_5_footer.ejs %>
      <!-- Footer -->
    </div>

    <!-- /CONTAINER: -->

    <% include ../layout/lay_site_4_bottomscripts.ejs %>
  </body>
</html>
