<div
  class="modal fade bd-example-modal-lg"
  id="addItemToCartModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Вы добавили товар в корзину:</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="shopcart-items-table">
          <tr>
            <td>
              <div class="cart-i-img"><div id="newItemPicture"></div></div>
            </td>
            <td>
              <div class="cart-i-title"><div id="newItemName"></div></div>
              <div class="cart-uah" id="newItemPrice"></div>
            </td>
            <td>
              <button
                name="shop-cart-new-item-del"
                type="button"
                class="btn btn-outline-warning btn-sm cart-del-button"
                id=""
              >
                <span class="fas fa-times"></span>
              </button>
            </td>
          </tr>
        </table>

        <br />
        <br />
        <div class="row">
          <div class="col-lg-8">
            <H5 class="cart-all-items-quantity-insert"></H5>
          </div>
          <div class="col-lg-4">
            <div class="cart-total-label">
              <div class="cart-total-sum" name="total">
                <span class="cart-total-title">Итого:</span>
                <span class="cart-total-uah"
                  ><span name="cost" id="cart-total"></span>&nbsp;<span
                    class="cart-total-uah-sign"
                    >грн</span
                  ></span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-lg"
          data-dismiss="modal"
        >
          Продолжить покупки
        </button>
        <form action="/shopcart">
          <button type="submit" class="btn btn-success btn-lg">
            Оформить заказ
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
