<div id="toorder-error-msg"></div>

<form role="form" method="post" class="toorder">
  <fieldset>
    <div class="card border-success mb-3">
      <div class="card-header">Оформление заказа</div>
      <div class="card-body">
        <div class="form-group">
          <input
            class="form-control"
            placeholder="Имя"
            name="name"
            type="name"
            id="toorder-name"
            autofocus
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            placeholder="E-mail"
            name="email"
            type="email"
            id="toorder-email"
          />
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">+38</span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="0671234567   Телефон"
              name="phonenumber"
              id="toorder-phonenumber"
            />
          </div>
        </div>

        <div class="form-group">
          <select class="custom-select" id="delivery-type-select">
            <option hidden>Выберите способ доставки</option>
            <option value="1">Отделение Новой Почты</option>
            <option value="2">Курьером по адресу</option>
            <option value="3">Самовывоз</option>
          </select>
        </div>

        <div class="form-group " style="display: none;" id="city-select-div">
          <select
            data-placeholder="Выберите город..."
            class="city-select custom-select"
            tabindex="2"
            id="cities-select"
          >
            <option value=""></option>
            <% for (let i = 0; i < transData.cities.length; i++) { %>
            <option value="<%= transData.cities[i].DescriptionRu %>"
              ><%= transData.cities[i].DescriptionRu %></option
            >
            <% } %>
          </select>
        </div>

        <div
          class="form-group "
          style="display: none;"
          id="department-select-div"
        >
          <select
            data-placeholder="Выберите отделение..."
            class="department-select custom-select"
            tabindex="2"
            id="departments-select"
          >
          </select>
        </div>

        <div class="form-group">
          <select class="custom-select">
            <option hidden>Выберите способ оплаты</option>
            <option value="1">Наложенный платеж</option>
            <option value="2">Безналичный расчет</option>
            <option value="3">Оплата на карту Приват банка</option>
          </select>
        </div>

        <div class="form-group">
          <textarea
            class="form-control"
            id="ordercomment"
            rows="3"
            style="height: 60px;"
            placeholder="Комментарий к заказу..."
          ></textarea>
        </div>
        <!-- BUTTON -->
        <a
          href="#"
          class="toorder-button btn btn-lg btn-success btn-block"
          id="toorder-button"
          >Заказать</a
        >
      </div>
    </div>
  </fieldset>
</form>
