<div
  class="modal fade bd-example-modal-lg"
  id="addItemToCartModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">
          Вы добавили товар в корзину
        </h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="shopcart-items-table">
          <tr>
            <td rowspan="2" class="cart-del-button-td">
              <a
                href="#"
                type="button"
                class="cart-del-item-button"
                name="shop-cart-new-item-del"
                id=""
              >
                <img
                  src="/images/k8design/shopcartdelbuttons/deleteactive.png"
                  class=""
                />
              </a>
            </td>
            <td rowspan="2" class="cart-info-col-td">
              <div class="cart-i-img"><div id="newItemPicture"></div></div>
            </td>
            <td colspan="3">
              <div class="cart-i-title"><div id="newItemName"></div></div>
            </td>
          </tr>
          <tr>
            <td class="cart-i-price">
              <div class="cart-uah" id="newItemPrice"></div>
            </td>
            <td>
              <div class="cart-amount">
                <a href="#" class="cart-amount-minus" name="cart-amount-minus">
                  <img
                    src="/images/k8design/shopcartvalueinput/minusactive.png"
                    alt="&amp;up;"
                    class="cart-amount-minus-icon sprite"
                  />
                </a>
                <input
                  id="newItemQuantity"
                  name="newItemQuantity"
                  type="text"
                  class="input-text cart-amount-input-text"
                  readonly=""
                  value="1"
                />
                <a href="#" class="cart-amount-plus" name="cart-amount-plus">
                  <img
                    src="/images/k8design/shopcartvalueinput/plusactive.png"
                    alt="&amp;up;"
                    class="cart-amount-plus-icon sprite"
                  />
                </a>
              </div>
            </td>
            <td class="cart-sum">
              <div class="cart-list-newItemSumm" id="newItemSumm"></div>
            </td>
          </tr>
        </table>

        <br />

        <div class="cart-other"></div>
        <br />
        <div class="cart-total-label">
          <div class="cart-total-sum" name="total">
            <span class="cart-total-title">Вместе:</span>
            <span class="cart-total-uah"
              ><span name="cost" id="cart-total"></span>&nbsp;<span
                class="cart-total-uah-sign"
                >грн</span
              ></span
            >
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary btn-lg"
          data-dismiss="modal"
        >
          Продолжить покупки
        </button>
        <button type="button" class="btn btn-success btn-lg">
          Оформить заказ
        </button>
      </div>
    </div>
  </div>
</div>
