<!-- cart Button experiments: -->
<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#addItemToCartModal"
  data-itemvendorcode="13410"
  data-itemquantity="2"
>
  Кнопка для 13410
</button>
<% include lay_shop_cart_modal_window.ejs %>
<!-- /cart Button experiments: -->



<script>
$('#addItemToCartModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget); // Button that triggered the modal
   
    var itemVendorCode = button.data('itemvendorcode'); // Extract info from data-* attributes
    var quantity = button.data('itemquantity');

    var modal = $(this);

    var data={
      itemVendorCode,
      quantity
    };
    
    $.ajax({
      type: 'POST',
      data: JSON.stringify(data),
      contentType: 'application/json',
      url: '/shopcart/additem'
    }).done(function(data) {
      console.log('serer answer:' + data.shopCart[0].name);
      
      modal.find('.modal-title').text('Вы добавили товар в корзину: ' + itemVendorCode);
      modal.find('#newItemName').text(data.shopCart[0].name);
      modal.find('#newItemPrice').text(data.shopCart[0].price);
      modal.find('#newItemQuantity').text(data.shopCart[0].quantity);
      modal.find('#newItemSumm').text(data.shopCart[0].price*data.shopCart[0].quantity);


    });


    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    //console.log(quantity);
    
    //modal.find('.modal-body input').val(recipient)
  })

</script>




<div
  class="modal fade bd-example-modal-lg"
  id="addItemToCartModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Вы добавили товар в корзину
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Товар</th>
              <th scope="col">Цена</th>
              <th scope="col">Количество</th>
              <th scope="col">Сумма</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><div id="newItemName"></div></th>
              <td><div id="newItemPrice"></div></td>
              <td><div id="newItemQuantity"></div></td>
              <td><div id="newItemSumm"></div></td>
              <td>NAVI</td>
            </tr>
          </tbody>
        </table>
        <H5>Другие товары в корзине</H5>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Товар</th>
              <th scope="col">Цена</th>
              <th scope="col">Количество</th>
              <th scope="col">Сумма</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">22</th>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Продолжить покупки
        </button>
        <button type="button" class="btn btn-primary">Оформить заказ</button>
      </div>
    </div>
  </div>
</div>
