<head>
  <meta charset="UTF-8" />
  <% if ((typeof(transData) != 'undefined') && transData.pageTitle) { %>
  <title><%= transData.pageTitle %></title>
  <% } else { %>
  <title>E-Shop</title>
  <% }; %>

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/customK8.css" />
  <link
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous"
  />
</head>
