<ul class="nav nav-pills flex-column">
  <li class="nav-item"><a class="nav-link active" href="#">Корзина</a></li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Список желаний</a>
  </li>
  <li class="nav-item"><a class="nav-link " href="#">Мой профиль</a></li>
</ul>
<br /><br />
<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Поддержка</div>
  <div class="card-body">
    <h4 class="card-title">Мы на связи!</h4>
    <p class="card-text">
      Наши менеджеры готовы проконсультировать и помочь Вам с выбором и
      оформлением заказа! Звоните сейчас: +3800000000
    </p>
  </div>
</div>
