<ul class="nav nav-pills flex-column">
  <li class="nav-item">
    <a
      class="nav-link <%if (path == '/myprofile') { %> active <% } %>"
      href="/profile/myprofile"
      >Мой профиль</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%if (path == '/mycart') { %> active <% } %>"
      href="/profile/mycart"
      >Корзина</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link <%if (path == '/mywishlist') { %> active <% } %>"
      href="/profile/mywishlist"
      >Список желаний</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/api/auth/logout">Выход</a>
  </li>
</ul>
<br /><br />
<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Поддержка</div>
  <div class="card-body">
    <h4 class="card-title">Мы на связи!</h4>
    <p class="card-text">
      Наши менеджеры готовы проконсультировать и помочь Вам с выбором и
      оформлением заказа! Звоните сейчас: +3800000000
    </p>
  </div>
</div>
