<!DOCTYPE html>
<html lang="ru">
  <% include lay_adm_1_head.ejs %>
  <body>
    <div id="wrapper">
      <% include lay_adm_2_navigation.ejs %>

      <!-- #page-wrapper -->
      <div id="page-wrapper">
        <div class="row">
          <div class="col-lg-12"><h1 class="page-header">Публикации</h1></div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->

        <div class="row">
          <div class="col-lg-12">
            <form action="/administrator/publications/add">
              <button type="submit" class="btn btn-success btn-sm">
                <span class="fa fa-plus fa-fw"></span>Добавить публикацию
              </button>
            </form>
          </div>
        </div>
        <br />

        <!-- MAIN CONTENT HERE: -->
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">Список публикаций</div>

              <div class="panel-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Статус</th>
                      <th scope="col">Заголовок</th>
                      <th scope="col">Дата создания</th>
                      <th scope="col">Действия</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% transData.publicationsObj.forEach(function(publ){ %>
                    <tr>
                      <th scope="row">
                        <% if (publ.status == "Опубликовано") { %>
                        <i class="fa fa-eye fa-fw"></i> <% } else if
                        (publ.status == "Неопубликовано") { %>
                        <i class="fa fa-eye-slash fa-fw"></i> <% } else { %>
                        <i class="fa fa-trash-o fa-fw"></i> <% } %>
                      </th>
                      <td><%= publ.title %></td>
                      <td><%= publ.formatedTime %></td>

                      <td>
                        <button
                          name="admin-publications-list-edit-one"
                          value="<%= publ.alias %>"
                          type="button"
                          class="btn btn-primary btn-xs"
                        >
                          <i class="fa fa-pencil fa-fw"></i> Edit
                        </button>

                        <button
                          name="admin-publications-list-del-one"
                          value="<%= publ.alias %>"
                          type="button"
                          class="btn btn-danger btn-xs"
                        >
                          <i class="fa fa-times fa-fw"></i> Del
                        </button>
                      </td>
                    </tr>

                    <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /MAIN CONTENT HERE: -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <% include lay_adm_4_bottomscripts.ejs %>
  </body>
</html>
