<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="" />
 
  <% if ((typeof(transData) != 'undefined') && transData.pageTitle) { %>
  <title>
    <%= transData.pageTitle %>
  </title>
  <% } else { %>
  <title>Панель управления</title>
  <% }; %>


  <!-- jQuery -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <!-- Bootstrap Core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

  <!-- MetisMenu CSS -->
  <link href="/vendor/metisMenu/metisMenu.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="/vendor/sb-admin/sb-admin-2.css" rel="stylesheet" />

  <!-- Custom Fonts -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  
<!-- Custom Summernote Editor -->
  <script src="/vendor/summernote/summernote-lite.js"></script>
  <link href="/vendor/summernote/summernote-lite.css" rel="stylesheet" />




</head>



<body>
  <div id="wrapper">
    <% include lay_adm_2_navigation.ejs %>

    <!-- #page-wrapper -->
    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-9">
          <h1 class="page-header">Публикации</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->

      <!-- MAIN CONTENT HERE: -->
      <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">Добавление публикации</div>
            <div class="panel-body">
              <div id="nev-publication-error-msg"></div>
            
              <!-- FORM FOR FILE SENDING -->
            

              <form method="POST" enctype="multipart/form-data" id="adminaddnewpubl">
                
                <div class="row">

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="new-publication-name">Заголовок</label>
                      <input class="form-control" name="newPublTitle" type="name" id="new-publication-title" />
                    </div>
                    <div class="form-group">
                      <label for="new-publication-short-text">Короткий текст</label>
                      <textarea class="form-control" name="newPublShortText" id="new-publication-short-text" rows="4"></textarea>
                    </div>
                  </div>
                  <div class="col-lg-6">
            
            
            
                    <div class="form-group">
                      <label for="new-publication-short-text">Алиас</label>
                      <input class="form-control" name="newPublAlias" type="text" id="new-publication-alias" />
                      <small id="aliasHelp" class="form-text text-muted">Если оставить поле пустым, алиас будет
                        сгенерирован
                        автоматически.</small>
                    </div>
                    <div class="form-group">
                      <label for="new-publication-description">Мета-тег Description</label>
                      <input class="form-control" name="newPublDescription" type="text" id="new-publication-description" />
                    </div>
                    <div class="form-group">
                      <label for="new-publication-keywords">Мета-тег Keywords</label>
                      <input class="form-control" name="newPublKeywords" type="text" id="new-publication-keywords" />
                    </div>
            
            
            
                  </div>
                </div>
            
                <!-- adminaddnewpublfulltext -->
                <div class="form-group">
                  <label for="adminaddnewpublfulltext">Полный текст</label>
                  <div id="adminaddnewpublfulltext"></div>
                </div>
                <!-- adminaddnewpublfulltext -->
            
                <div class="row">
                  <div class="col-lg-6">
                    <label for="file">Изображение для публикации</label>
                    <input type="file" name="file" aria-describedby="fileHelp" id="file" required />
                    <small id="fileHelp" class="form-text text-muted">Используйте изображения формата .JPG или .GIF не
                        превышающие
                        по размеру 5мБ. Возможно укажу позже еще требования.</small>
                        
                  </div>
                  <div class="col-lg-6">

                    <div class="form-group">
                      <label class="form-control-label">Состояние</label>
                      <select class="form-control" id="new-publication-status" name="new-publication-status">
                        <option>Опубликовано</option>
                        <option>Неопубликовано</option>
                        <option>В корзине</option>
                      </select>
                    </div>
                    <br><br>
                        <button class="upload-button btn btn-primary btn-block">Сохранить</button>
                  </div>
                </div>
            
            
               
              </form>
              

              <!-- /FORM FOR FILE SENDING -->
            
            
            
            
              
            
            
            
            </div>
            </div>
        </div>
      </div>
      <!-- /MAIN CONTENT HERE: -->
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->

  <script>
    $('#adminaddnewpublfulltext').summernote({
      placeholder: 'Полный текст для публикации...',
      tabsize: 2,
      height: 200
    });
  </script>
  <!-- Bootstrap Core JavaScript -->
  <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

  <!-- Metis Menu Plugin JavaScript -->
  <script src="/vendor/metisMenu/metisMenu.min.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/vendor/sb-admin/sb-admin-2.js"></script>

  <!-- Custom K8 JavaScript -->
  <script src="/javascripts/scriptsK8.js"></script>
</body>

</html>