<% include lay_admin_header_part_1.ejs %> <% include lay_admin_header_part_2.ejs
%> <% include lay_admin_header_part_3.ejs %>
<!-- /---------------------------------- -->

<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <br />
      <% include lay_admin_sidebar_left.ejs %>
    </div>

    <div class="col-lg-9">
      <br />
      <H1>Dashboard</H1>

      <br />

      <br />
    </div>
  </div>
</div>
<% include ../layout/footer.ejs %>
