<% include lay_admin_header_part_1.ejs %> <% include lay_admin_header_part_2.ejs
%> <% include lay_admin_header_part_3.ejs %>
<div class="container">
  <h1>
    <span class="fas fa-exclamation-triangle avesomePaddingRight"></span>Ошибка
  </h1>
  <h2><%= message %></h2>
  <h3><%= error.status %></h3>
  <pre><%= error.stack %></pre>
</div>
<% include ../layout/footer.ejs %>
